.App {
  height: 100vh;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 254, 232);
}

.logo-contenedor {
  width: 400px;
  /* height: 22px; */
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculadora-contenedor {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgb(165, 207, 193);
  border-radius: 20px;
  border: solid rgb(69, 105, 93) 5px;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
